Code/smarthome_nodered.json
[
    {
        "id": "1bee366fcfd16e03",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa87e6c6.1d8cc8",
        "type": "mqtt in",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "RFID_Read",
        "qos": "1",
        "datatype": "auto",
        "broker": "fa58f8c52d8d908c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 60,
        "wires": [
            [
                "1bdf7f20.38ad31",
                "91d54acf.67ffb8"
            ]
        ]
    },
    {
        "id": "b04c5a7.77c5ea8",
        "type": "switch",
        "z": "1bee366fcfd16e03",
        "name": "RFID Tags",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6BBD290B",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 374,
        "y": 140,
        "wires": [
            [
                "16d4f51e.8fac4b"
            ],
            [
                "922b0d09.2f28c"
            ]
        ]
    },
    {
        "id": "1bdf7f20.38ad31",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "RFID_Read",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "RFID_Read",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "d805e73a.9b8ef8",
        "type": "mqtt in",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "RFID_Read",
        "qos": "0",
        "datatype": "auto",
        "broker": "fa58f8c52d8d908c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "bf88fba4.4b4248",
                "4eab4327.7b382c",
                "3cdd12e6.f1b36e"
            ]
        ]
    },
    {
        "id": "bf88fba4.4b4248",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "RFID_Read",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "5d4c7be.3818584",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Denied",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "922b0d09.2f28c",
        "type": "function",
        "z": "1bee366fcfd16e03",
        "name": "msg.payload = \"Access_Denied\";",
        "func": "msg.topic = msg.payload;\nmsg.payload = \"Access_Denied\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 695,
        "y": 166,
        "wires": [
            [
                "5d4c7be.3818584",
                "73d8c481058ac84b"
            ]
        ]
    },
    {
        "id": "3ff274d3.5ea1cc",
        "type": "ui_template",
        "z": "1bee366fcfd16e03",
        "group": "c42d56ff31a053da",
        "name": "RFID-1 Log",
        "order": 2,
        "width": "6",
        "height": "7",
        "format": "<h1>Event Log</h1>\n<div>\n<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4eab4327.7b382c",
        "type": "function",
        "z": "1bee366fcfd16e03",
        "name": "Store and Shift Message",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "3ff274d3.5ea1cc",
                "c045ad6a.229d3"
            ]
        ]
    },
    {
        "id": "c045ad6a.229d3",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "RFID-1 log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "91d54acf.67ffb8",
        "type": "delay",
        "z": "1bee366fcfd16e03",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "b04c5a7.77c5ea8"
            ]
        ]
    },
    {
        "id": "3cdd12e6.f1b36e",
        "type": "function",
        "z": "1bee366fcfd16e03",
        "name": "Store_Lock_State",
        "func": "\n\n\n// initialise the state to empty object if it doesn't exist already\nvar state = context.get('state')|| {};\n\n// regular expression to look for Homie updates\nvar t;\nvar re = /([^/]+$)/i;\nt = re.exec(msg.topic);\nvar prop = t[0];\n\n// remove preceding $\nif (prop.substring(0, 1) == '$') { \n  prop = prop.substring(1);\n}\n\n// Store state\nstate[prop] = msg.payload;\ncontext.set('state',state);\n\n// send state object\nmsg.payload = state;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "ca3ba7bf.90d298",
                "cb60cc79.c5af8"
            ]
        ]
    },
    {
        "id": "ca3ba7bf.90d298",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "RFID-1 State",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "cb60cc79.c5af8",
        "type": "ui_template",
        "z": "1bee366fcfd16e03",
        "group": "c42d56ff31a053da",
        "name": "RFID-1 State",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<h1>{{msg.payload.name}}</h1>\n<p ng-style=\"{color: msg.payload.online === 'true' ? 'green' : 'red'}\">\n    {{msg.payload.online === 'true' ? 'ONLINE' : 'OFFLINE'}}\n</p>\n<hr>\n<table>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n  <td> {{key}} </td> <td> {{ value }} </td>\n</tr>\n</table>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "019a4f95b21f6e52",
        "type": "mqtt in",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Luminosity_Sensor",
        "qos": "0",
        "datatype": "auto",
        "broker": "fa58f8c52d8d908c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "eaadd3e65582b64b",
                "2da6282662e36e94"
            ]
        ]
    },
    {
        "id": "6d48a5b9086ff9e9",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "LED_Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "LED_Value",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "4792dbce359c0e19",
        "type": "ui_switch",
        "z": "1bee366fcfd16e03",
        "name": "",
        "label": "Red_LED",
        "tooltip": "",
        "group": "144a0d9dac2c095c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Red",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 880,
        "wires": [
            [
                "64bba0af11fad5d3",
                "5ff019946b5b3bdf"
            ]
        ]
    },
    {
        "id": "ee08246388ace3ee",
        "type": "ui_switch",
        "z": "1bee366fcfd16e03",
        "name": "",
        "label": "Green_LED",
        "tooltip": "",
        "group": "144a0d9dac2c095c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Green",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "6adec01daf31281b",
                "3a56b23c8e79bd56"
            ]
        ]
    },
    {
        "id": "1e54ab77a1167c19",
        "type": "ui_switch",
        "z": "1bee366fcfd16e03",
        "name": "",
        "label": "Buzzer",
        "tooltip": "",
        "group": "144a0d9dac2c095c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Buzzer",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "3973b82a4a5afea9",
                "a297f8762e66a544"
            ]
        ]
    },
    {
        "id": "6adec01daf31281b",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Green_LED_CMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "64bba0af11fad5d3",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Red_LED_CMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "3973b82a4a5afea9",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Buzzer_CMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "3053e30eb3094a8a",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "Authorized",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "3a56b23c8e79bd56",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "Green_LED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Green_LED",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "5ff019946b5b3bdf",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "Red_LED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Red_LED",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 920,
        "wires": []
    },
    {
        "id": "a297f8762e66a544",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "Buzzer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Buzzer",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1000,
        "wires": []
    },
    {
        "id": "212e70ca22ed3059",
        "type": "ui_gauge",
        "z": "1bee366fcfd16e03",
        "name": "",
        "group": "dae086ab9da6edd0",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LED",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffff0a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "16d4f51e.8fac4b",
        "type": "function",
        "z": "1bee366fcfd16e03",
        "name": "msg.payload = \"Access_Granted\";",
        "func": "msg.topic = msg.payload;\nmsg.payload = \"Acces_Granted\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 695,
        "y": 106,
        "wires": [
            [
                "3053e30eb3094a8a",
                "f1e53ca1e847d1dd"
            ]
        ]
    },
    {
        "id": "f1e53ca1e847d1dd",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Authorized",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "73d8c481058ac84b",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Denied",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "f31067ef98943127",
        "type": "ui_switch",
        "z": "1bee366fcfd16e03",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "dae086ab9da6edd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED_CMD",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "d2110e2c558a805f",
                "464ac9510fba0d19"
            ]
        ]
    },
    {
        "id": "d2110e2c558a805f",
        "type": "mqtt out",
        "z": "1bee366fcfd16e03",
        "name": "",
        "topic": "LED_CMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa58f8c52d8d908c",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "464ac9510fba0d19",
        "type": "debug",
        "z": "1bee366fcfd16e03",
        "name": "LED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "LED",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "8207fd89ca492fdb",
        "type": "ui_gauge",
        "z": "1bee366fcfd16e03",
        "name": "",
        "group": "dae086ab9da6edd0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosity_Value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "e461935f06930e71",
        "type": "ui_chart",
        "z": "1bee366fcfd16e03",
        "name": "",
        "group": "976fbb40d8e417ef",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Luminosity_Saved_Values",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "eaadd3e65582b64b",
        "type": "range",
        "z": "1bee366fcfd16e03",
        "minin": "3200",
        "maxin": "0",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "212e70ca22ed3059"
            ]
        ]
    },
    {
        "id": "2da6282662e36e94",
        "type": "range",
        "z": "1bee366fcfd16e03",
        "minin": "0",
        "maxin": "3000",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "e461935f06930e71",
                "8207fd89ca492fdb"
            ]
        ]
    },
    {
        "id": "42c8935f38aafd25",
        "type": "ui_spacer",
        "z": "1bee366fcfd16e03",
        "name": "spacer",
        "group": "194478e0daeb85b2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9305ce98c17773b8",
        "type": "ui_spacer",
        "z": "1bee366fcfd16e03",
        "name": "spacer",
        "group": "dae086ab9da6edd0",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9dca1f737440d53c",
        "type": "ui_spacer",
        "z": "1bee366fcfd16e03",
        "name": "spacer",
        "group": "144a0d9dac2c095c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5053fe59d0598758",
        "type": "ui_spacer",
        "z": "1bee366fcfd16e03",
        "name": "spacer",
        "group": "dae086ab9da6edd0",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa58f8c52d8d908c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c42d56ff31a053da",
        "type": "ui_group",
        "name": "RFID_Log",
        "tab": "07bc6e8c27a81d8f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "144a0d9dac2c095c",
        "type": "ui_group",
        "name": "Alarms",
        "tab": "07bc6e8c27a81d8f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dae086ab9da6edd0",
        "type": "ui_group",
        "name": "LED_Adjust",
        "tab": "07bc6e8c27a81d8f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "976fbb40d8e417ef",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "07bc6e8c27a81d8f",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "07bc6e8c27a81d8f",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    }
]